.btn_dark {
 
    color: white;
    gap: 30px;
 
    
    
}

.console_button {
    
    border: 4px white thin;
    width: 100px;
    
    
}

.console_shelf {
    gap: 40px;
    padding: 10px;
    height: 100%;
    background-color: #5b7b7a;
}

.console_box {
    gap: 10px;
    
   
}

