@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: hsla(0, 0%, 100%, 0.87);

 --base-clr: hsla(220, 4%, 32%, 0.2);
--base-n64-clr: hsl(221, 12%, 73%);
--line-clr: hsl(44, 95%, 30%);
--hover-clr: hsla(266, 6%, 22%, 0.317);
--n64-gray-clr: hsla(270, 4%, 41%, 0.33);
--n64-dark-gray-clr: hsla(280, 4%, 17%, 0.331);
--n64-a-clr: hsl(214, 97%, 32%);
--n64-a-light-clr: hsl(214, 94%, 50%);
--n64-b-clr: hsl(161, 100%, 28%);
--n64-b-light-clr: hsl(161, 93%, 43%);
--n64-c-clr: hsl(44, 95%, 58%);
--n64-start-clr: hsl(358, 74%, 50%);
--n64-start-light-clr: hsla(0, 88%, 60%, 0.966);
--text-clr: hsl(0, 1%, 80%);
--secondary-text-clr: hsla(316, 57%, 94%, 0.82);
--accent-clr: hsl(51, 73%, 46%);
--box-shadow: hsla(131, 86%, 45%, 0.16) 0px 1px 4px;


}


h1 {
  font-size: 2rem;
}



/* 2 Columns, auto calculates the space it needs. */
body {

  min-height: 100dvh;
  color: var(--text-clr);
  background: var(--n64-dark-gray-clr);


}

#layout {

  display: grid;
  grid-template-columns: auto 1fr;

}


.main-container {
  height: 100vh;
  width: 100%;
}



.page-header {

  position: relative;
  top: 2rem;
  left: 3rem;
  width: 100%;

  

}



@media(max-width: 800px) {

    .page-header {
       inset: 2rem 0 0 0;
       text-align: center;
     
      
    }


}









