

.add-game-container {
    position: relative;
    height: 100vh;
    overflow: auto;
}

.console-selector-container {
    width: 100%;
    position: relative;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 3rem;
   
    padding: 1rem;
    overflow: auto;



    
}

.game-selector-container {
    position: relative;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    overflow: auto;

    
}



.active-console {
    border-color: var(--n64-a-clr);
    border-width: 2px;

}

.active-game {
    border-color: var(--n64-b-clr);
    border-width: 2px;
}


#add-game-button {
    border: 2px solid var(--base-n64-clr);
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: .5rem;
    background-color: var(--n64-dark-gray-clr);
    border: 2px solid var(--n64-gray-clr);
    box-shadow: var(--double-shadow);
  
    width: 50%;
}

#dismiss-button {
    border: 2px solid var(--n64-start-clr);
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: .5rem;
    width: 50%;
    background-color: var(--n64-dark-gray-clr);
    border: 2px solid var(--n64-gray-clr);
    box-shadow: var(--double-shadow);
  

 
}

#add-game-button:hover{
    background-color: var(--n64-a-clr);
}

 #dismiss-button:hover {
    background-color: var(--n64-start-clr);
}





.cover-container {

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110%;
    padding: 2rem;
    backdrop-filter: blur(10px);
 
    
 
    

   
}
.cover-container img {

  margin: 0 auto;
  border-radius: 0.5rem;
  border: 1px solid var(--n64-gray-clr);
  opacity: 0.9;
box-shadow: var(--double-shadow);


}

.cover-container > h1 {
  font-weight: bold;

}

.cover-contents {

    margin: 4rem 30%;
}

.search-input {
    border: none;
}



.success-box {
    position: fixed;
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px solid var(--n64-b-light-clr);
    background:  var(--n64-b-clr);
    color: var(--n64-b-clr);
    border-radius: .5rem;
    padding: 1rem;
    left: 45%;
    z-index:10;
 
    top: 5rem;
}



@media(max-width: 1400px) {

    .game-selector-container, .console-selector-container {
         grid-template-columns: repeat(3, 1fr);
       
   
    }
}



@media(max-width: 1200px) {

    .game-selector-container, .console-selector-container {
       grid-template-columns: repeat(2, 1fr);
       overflow: visible;
       
   
    }

  

    .search {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

   
}



@media(max-width: 800px) {

    .game-selector-container, .console-selector-container {
        grid-template-columns: 2fr;
        overflow: visible;
       
   
    }

      .console-option, .game-option {
        width: 75%;
        justify-self: center;
    }

    .add-game-container {
        width: 100%;
    }

    .search {
        width: 100%;
        
      
    }
}

