.console-shelf {

  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  
  width: 80%;


  

}

.console-shelf.active {

  display: flex;

  
 

}




.return-svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.1rem;
}





.console-container {

    position: relative;
    border: 1px solid var(--n64-gray-clr);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    margin: 1rem;
 
 
   


   


}


.console-information {
  border-bottom: 2px dotted var(--n64-gray-clr);
}

.console-container.active {


  position: relative;
  width: 100%;
  height:  100%;
  margin: 0;
  padding: 0rem;
  flex-direction: column;
  border: none;
  box-shadow: none !important;


 

 

  /* border: none; */
  justify-content: flex-start;


  .console-name {
    font-size: 1.8rem;
    text-align: left;

    

    
  }
 


   .console-button {

    display: flex;
    align-items: center;
    gap: 0.5rem;

      .console-year {
        font-size: 1.3rem;
      }

      .console-year:before {
        content: "";
        position: relative;
        display: inline-block;
      
        border: 1px solid var(--n64-gray-clr);
        margin: 0px 0.6rem 0px 0.3rem;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      
        background-color: var(--n64-c-clr);
    
     
      }
    
    
    }


  
  
}


/* Games inside the Console Container */






@media(max-width: 1200px) {

    .console-shelf {
      
          grid-template-columns: repeat(2, 1fr);
     
     
    }


}

@media(max-width: 800px) {

    .console-shelf {
      
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      margin: 0 auto;
      width: 100%;
    }

    .console-container.active {
      justify-content: center;
      top: 1.5rem;
    }

    .console-container {

      width: 50%;
      margin: 1rem auto;
     
    }

    .console-container.active .console-name{
      font-size: 1.3rem;
      text-align: center;

    }


    .consoles-page-header {
      font-size: 1.9rem;
     
    }


.return-svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.1rem;
}





}





