.game-list {

    position: relative;
    top: 3rem;
    left: 3rem;

}

.game-list li {

    font-size: 1.2rem;
    margin-top: 1rem;


}

.console-selector {
    position: relative;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    
}

.game-selector {
    position: relative;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    
}



