.button-10 {
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--n64-c-dark-clr);
    font-size: 15px;
    color:white;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.button-10:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  border-top: 2px solid var(--n64-c-dark-clr);
  border-left: 2px solid var(--n64-c-dark-clr);
  transition: all 0.25s;
}

.button-10:hover:before,
.button-10:hover:after {
  height: 100%;
  width: 100%;
}

.button-10:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid var(--n64-c-dark-clr);
  border-right: 2px solid var(--n64-c-dark-clr);
  transition: all 0.25s;
}

.file-button {
  padding: 0.6rem 1.2rem;
  border: 2px dashed var(--n64-c-dark-clr);
  color: var(--n64-c-light-clr);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.file-button-active {
  border-style: solid;
  color: var(--n64-start-clr);
}


.file-input-hidden {
  display: none;
}

.save-files-list {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

.save-file-row {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--n64-c-dark-clr);
}

.save-file-row:hover{
    background-color: var(--n64-gray-clr);
}
