.stats-container {
    margin: 1.5rem 0;
}

.recharts-container {
    margin: 1.5rem 0;
    gap: 1rem;
    display: flex;
   

    
}



.stats-btn {

    padding: 1.5rem;
    width: 10rem;
}

.toggle-button {

    border-radius: 0.5rem;
    border: 1px solid var(--n64-gray-clr);
    padding: 1rem;
    width: 10rem;
    font-size: 1.2rem;
    box-shadow: var(--double-shadow);

 
    
}

   .active-button {
        border: 1px solid var(--line-clr);
    }

.btn-container {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
}


hr {
  width: 90%;
  border: none;
  height: 5px;
  background-color: var(--n64-base-clr);
}



@media(max-width: 1400px) {


    .recharts-container {
        flex-direction: column;

    }

   

}


@media(max-width: 800px) {




   .home-container h2 {
    font-size: 1.8rem;
    margin-top: 1rem;
   }


 
   .btn-container {
    justify-content: center ;
    align-items: center;
    gap: 1rem;
  
   }

   .toggle-button {
    font-size: 1.5rem;
    width: 12rem;
   }

    .stats-container {
    
    align-items: center;
    justify-content: center;

    
 
  
   }

   .stats-btn {

    padding: 1.5rem;
    width: 15rem;
    
    
    
    div {
        justify-content: center;
    
    }

    span {
        font-size: 1.6rem;
    }
   
    
}

    .recharts-wrapper {
       
        width: 40rem !important;
        height: 25rem !important;
       
    }

    .recharts-container{
         padding: 1rem;
    }

  


 
   
}



