

.login-container{

   
}

.login-form {
    
    
}



.login-button {

    
}


.dark_input {
    
    color: white;
    border-style: none none solid none;
    outline: none;
    background-color: transparent;
    border-width: 2px;
    margin: 5px 0 20px 0;
    
}




::placeholder {
   
}

.registerBox {

}

.registerBox  p {


}
.registerBox a {
    

}


.error_message {
 
}