#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 14.5rem;
  padding: 0.5em 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--base-clr);
  box-shadow: 1px 0px 2px var(--base-clr);
  transition: 300ms ease-in-out;

  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;

}

#sidebar.close {
    padding: 0.5em 0.3em;
    width: 60px;
  
}

#sidebar ul {
  list-style: none;
}


#sidebar > ul > li:first-child {

    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    

    
    .logo,svg {
        font-weight: 600;
        font-size: 1.4rem;
       

 
        
      
    }
    


}

#sidebar > ul > li:nth-child(2)  {

  span {
  color:  var(--n64-start-light-clr);
}
 svg {
  fill:  var(--n64-start-light-clr);
 }
  
}

#sidebar > ul > li:nth-child(3){
  span {
  color:  var(--n64-b-light-clr);
  }

   svg {
  fill:  var(--n64-b-light-clr);
 }

  
}


#sidebar > ul > li:nth-child(4) {

  span {
  color:  var(--n64-a-light-clr);
  }
     svg {
  fill:  var(--n64-a-light-clr);
 }



  
}

#sidebar > ul > li:nth-child(5) {

  span {
    color: var(--n64-c-clr);
  }
  svg {
    fill: var(--n64-c-clr);
  }

 

  
}







#sidebar ul.li.active a {
    color: var(--accent-clr);

    svg {
        fill: var(--accent-clr);
    }

}

/* A row inside the sidebar */
#sidebar a, #sidebar .dropdown-btn, #sidebar .logo, #logout-btn{
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--text-clr);
    border-radius: .5em;
    padding: 0.85em;
    text-decoration: none;

}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}


/* Flex grow makes sure the parent elements are filled */
#sidebar a span, #sidebar .dropdown-btn span{

    flex-grow: 1;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover {

    background-color: var(--hover-clr);
}

/* This doesn't work with height auto */
/* Hide child elements that don't fit in the container */
#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 250ms ease-in-out;

    > div {
        overflow:hidden;
    }

}

#sidebar .sub-menu.show {
   grid-template-rows: 1fr;
}

#sidebar .sub-menu a {
    padding-left: 2em;
}




#sidebar svg {
    flex-shrink: 0;
    fill: var(--text-clr);
}

/* Make the rotating apparent, it's going to show the rotation */
.dropdown-btn svg {
    transition: 200ms ease;
}

/* Rotate the arrow and not the leftmost icon */
.rotate svg:last-child {
    rotate: 180deg;
}



/* Pushes your Gameok to the left */
#toggle-btn{
    margin-left: auto;
    padding: 0.8em;
    border: none;
    border-radius: .5em;
    background:none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}

#toggle-btn:hover {
    background-color: var(--hover-clr);
}



@media(max-width: 800px) {

    body {
        grid-template-columns: 1fr;
    }

    #sidebar {
      height: 60px;
      width: 100%;
      border-right: none;
      border-top: 1px solid var(--n64-gray-clr);
      position: fixed;
      top: unset;
      bottom: 0;
      padding: 0;
      z-index: 10;

     > ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      /* Every element will be placed in a column */
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
      justify-content: center;

    }

    ul li {
      height: 100%;
    }

    ul a, ul .dropdown-btn {
      width: 60px;
      height: 60px;
      padding: 0; 
      border-radius: 0;
      justify-content: center;
    }

     ul li span,  ul li:first-child, .dropdown-btn svg:last-child {
      display: none;

    }

    ul li .sub-menu.show {
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: var(--hover-clr);
      border-top: 2px solid  var(--n64-gray-clr);
      display: flex;
      justify-content: center;
    
    > div {
      overflow-x: auto;
    }
    li {
      display: inline-flex;

    }

    a {
      box-sizing: border-box;
      padding: 1em;
      width: auto;
      justify-content: center;
    }
  }
 
  }
}